<!DOCTYPE html>
<!--[if IE 7]> <html lang="en" class="ie7"> <![endif]-->  
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->  
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->  
<!--[if !IE]><!--> <html lang="en"> <!--<![endif]-->  
<head>
    <title>Light Print - Fine photographic prints from your digital files</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- CSS Global Compulsory-->
    <link rel="stylesheet" href="assets/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="assets/css/headers/header1.css">
    <link rel="stylesheet" href="assets/plugins/bootstrap/css/bootstrap-responsive.min.css">
    <link rel="stylesheet" href="assets/css/style_responsive.css">
    <link rel="shortcut icon" href="favicon.ico">        
    <!-- CSS Implementing Plugins -->    
    <link rel="stylesheet" href="assets/plugins/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="assets/plugins/flexslider/flexslider.css" type="text/css" media="screen">    	
    <link rel="stylesheet" href="assets/plugins/parallax-slider/css/parallax-slider.css" type="text/css">
    <!-- CSS Theme -->    
    <link rel="stylesheet" href="assets/css/themes/light.css" id="style_color">
    <link rel="stylesheet" href="assets/css/themes/headers/header1-light.css" id="style_color-header-1">    
    
    <link rel="stylesheet" href="assets/css/overide.css">
</head>	

<body>
<!--=== Header ===-->

<div class="top shadow">
    <div class="container">         
        <div class="header">               
            <div class="container"> 
            	<section class="row-fluid">
                <!-- Logo -->       
                <div class="span4">                                             
                    <a href="index.html" id="logo"><img src="assets/img/CMYK.png" alt="Light Print"></a>
                </div>
                <!-- /logo -->  
                
                 <div class="span8">     
                    <ul class="loginbar">
                        <li class="gry11">212-529-7885   M-F 8:30am-8pm</li> 
                        <li class="devider">&nbsp;</li>
                        <li class="mobiF"><a href="#" class="blue11">My Account</a>&nbsp; &nbsp;</li>   
                        <li><a href="login.html" class="bluBtn">LOG OUT</a> <a href="checkout-address.html" class="bluBtn">CART:0</a></li> 
                    </ul>    
                              
                    <!-- Menu -->       
                    <div class="navbar">                                
                        <div class="navbar-inner">                                  
                            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </a><!-- /nav-collapse -->                                  
                            <div class="nav-collapse collapse">                                     
                                <ul class="nav top-2">
                                    <li><a href="upload.html">Upload</a></li>
                                    <li><a href="pricing.html">Pricing </a></li>
                                    <li><a href="mounting.html">Mounting</a></li>
                                    <li><a href="blog.html">Blog</a></li>
                                    <li class="active"><a href="faq.html">FAQ</a></li>
                                    <li><a href="about.html">About</a></li>
                                    <li><a href="contact.html">Contact Us</a></li>                             
                                </ul>
                                
                            </div><!-- /nav-collapse -->                                
                        </div><!-- /navbar-inner -->
                    </div>
                    <!-- /menu -->
                </div>
               </section>                       
        </div>      
        </div><!--/header -->    
    </div><!-- /container -->      
</div>   
<!--=== End Header ===-->

<!--=== Content Part ===-->
<div class="row-fluid">	
	<section class="container whtBGshdInner">
            <aside class="absMe">
                <div class="HeadInner">FAQ</div>
            </aside>
			<section class="topInner ffArial">
            	<div class="pLR20">If you have any questions, please email <a href="mailto:team@proofimaging.com" class="blueColorLight">team@proofimaging.com</a> and someone will return your email ASAP. Or just call 212-529-7885 M-F 9am-6pm.</div>
            </section>
            <header class="faQts">
           		Question: Do you make a SWOP proof? <img src="assets/img/faqarrow.png" class="faArrow">
            </header>
            <section class="faAns">
            	Yes, SWOP Coated 3, and SWOP coated 5.
            </section>
            
            <header class="faQts">
           		Question: What is a SWOP proof? <img src="assets/img/faqarrow.png" class="faArrow">
            </header>
            <section class="faAns">
            	SWOP is a printing and proofing specification (standard) for web offset publication printing. A SWOP proof is one that meets the SWOP press sheet characterization LAB data, including paper white, CMYK process ink densities and dot gain characteristics. A SWOP proof is also required to have an IDEAlliance color bar on the proof so it can be measured with a device called a spectrophotometer to verify it meets SWOP specs. All of our proofs include a verified (read to meet specs) IDEAlliance color bar with a sticker on the back of the proof displaying the actual passing of specs for that individual proof. Essentially there is no arguing if the proof is accurate, the sticker proves the passing of the SWOP spec.
            </section>
            
            <header class="faQts">
           		Question: What are the different types of proofs you offer at CMYKPROOF.com? <img src="assets/img/faqarrow.png" class="faArrow">
            </header>
            <section class="faAns">
            	GMG DotProof (simulated halftone proof) in the various proof standards:<br>

SWOP Coated 3 (US high end publication)
<br>
SWOP Coated 5 (US ground wood publication)
<br>
GRACoL Coated 1 (US "G7" Commercial)
<br>
ISO_coatedv2 aka FOGRA39 (International Commercial)
<br>
SNAP (US Newsprint, available in contone only)
<br>
<br>


Kodak Approval (true halftone proof) in the following proof standards:
<br>
SWOP Coated 3 (high end publication)
<br>
GRACoL Coated 1 (commercial)
<br>
<br>

For more info please see the <%= link_to 'Proofs', color_specs_path %> page. 
            </section>
            
            <header class="faQts">
           		Question: My document is set up for SWOPv2; do you make this kind of proof?  <img src="assets/img/faqarrow.png" class="faArrow">
            </header>
            <section class="faAns">
            	Yes, proofing to either SWOPC3 or SWOPC5 will work fine. SWOPv2 is an Adobe profile and technically has a white point closer to SWOPC5, but which option you should select depends on the publication for which you are supplying a proof (e.g. Time Magazine will require a SWOPC5 proof, while Esquire will require a SWOP C3 proof). It is always recommended that you check with the magazine ad specs to determine which type of proof they require for each individual publication. For more info please see the <%= link_to 'Proofs', color_specs_path %> page.
            </section>
            
            <header class="faQts">
           		Question: I’m doing a custom commercial print job; which proof should I get?  <img src="assets/img/faqarrow.png" class="faArrow">
            </header>
            <section class="faAns">
            	GRACoL is intended and recommended for commercial work, SWOP is best reserved for publication work. Many custom commercial printers will say that they accept a SWOP proof, but this is only because for a long time SWOP was the only standard anyone could agree on. That has since changed. SWOP has a narrow color space intended for publication stock. For general-purpose CMYK proofs we recommend GRACoL or if being printed in Europe, FORGA39.
            </section>
            
            <header class="faQts">
           		Question: Does your proof have a halftone dot?  <img src="assets/img/faqarrow.png" class="faArrow">
            </header>
            <section class="faAns">
            	Yes, all of our proofs are made with a real halftone dot.
            </section>
            
            <header class="faQts">
           		Question: What are the advantages of having a halftone proof?  <img src="assets/img/faqarrow.png" class="faArrow">
            </header>
            <section class="faAns">
            	There are many: to check for screen in type, image produced moiré, banding in gradients, etc.
            </section>
            
            <header class="faQts">
           		Question: What kind of Paper do you use for your GMG DotProof?  <img src="assets/img/faqarrow.png" class="faArrow">
            </header>
            <section class="faAns">
            	We use a heavy weight semimatte. All proofs are made on this heavy high quality stock. 
            </section>
            
            <header class="faQts">
           		Question: What kind of paper do you use for the Kodak Approval?  <img src="assets/img/faqarrow.png" class="faArrow">
            </header>
            <section class="faAns">
            	We use 100lb coated Lustro Gloss for GRACoL C1, and 100lb Fortune Gloss for SWOP C3
            </section>
            
            <header class="faQts">
           		Question: Do you offer Uncoated stocks?  <img src="assets/img/faqarrow.png" class="faArrow">
            </header>
            <section class="faAns">
            	Uncoated paper and proofing options will be available soon.
            </section>
  
    </section><!--/container-->	
   			
  
</div>	
<!-- End Content Part -->

<!--=== footer ===-->
<div class="copyright">
		<p><span class="gryBG">&copy; 2013 Proof Imaging. All Rights Reserved.&nbsp; | <a href="#">Privacy Policy</a> | <a href="#">Terms of Service</a></span></p>
</div><!--/footer-->	
<!--=== End footer ===-->

<!-- JS Global Compulsory -->			
<script type="text/javascript" src="assets/js/jquery-1.8.2.min.js"></script>
<script type="text/javascript" src="assets/js/modernizr.custom.js"></script>		
<script type="text/javascript" src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>	
<!-- JS Implementing Plugins -->           
<script type="text/javascript" src="assets/plugins/flexslider/jquery.flexslider-min.js"></script>
<script type="text/javascript" src="assets/plugins/parallax-slider/js/modernizr.js"></script>
<script type="text/javascript" src="assets/plugins/parallax-slider/js/jquery.cslider.js"></script> 
<script type="text/javascript" src="assets/plugins/back-to-top.js"></script>

<!-- JS Page Level -->           
<script type="text/javascript" src="assets/js/app.js"></script>
<script type="text/javascript" src="assets/js/pages/index.js"></script>

<script type="text/javascript">
    jQuery(document).ready(function() {
		    $('#myTab a').click(function (e) {
				e.preventDefault();
				$(this).tab('show');
			})

    });

</script>
<!--[if lt IE 9]>
    <script src="assets/js/respond.js"></script>
<![endif]-->

</body>
</html>	