/*
Customized & Re-code by Abhay Mandal
FREELANCER | CREATIVE DESIGNER | FRONT-END DEVLOPER
abhaymandal@gmail.com
*/
body{background:#F6F6F6; color:#575757;}
.logo{top:-16px;}
#logo{padding:0px 0 5px 0px; position:relative; float:left; font-size:36px; font-family: 'MyriadProRegular', arial; white-space:nowrap; color:#fbfbfb;}
a#logo strong{font-family:'MyriadProBold',arial;}
a#logo span.small{color:#a9adb4; font-size:10px; display:block; line-height:2px; text-align:right; margin-top:-10px;}
a#logo span.shine{background:url(../img/shine.png) top left repeat-x; width:100%; height:19px; position:absolute; left:0; top:20px;}
a#logo span.v2{background:#1c2530; position:absolute; right:-17px; top:-3px; font-size:10px; width:18px; height:15px; text-align:center; color:#cfcacc; border:1px solid #6f6f71; padding:3px 1px; z-index:-1;-webkit-border-radius: 10px;-moz-border-radius: 10px;border-radius: 10px;}
a#logo span.blueC{color:#2EA2DF;}
a#logo:hover{text-decoration:none; color:#fff;}

.navbar{padding:59px 0 0 0;}
.navbar .nav{float:right;}
.navbar .nav > li > a{border-bottom:7px solid #FFF;}
.header{border:0 none;}

.line1{line-height:1.4;}
.line2{line-height:1.8;}
.orange11{font-size:11px; color:#ec8a20;}
.wht23{font-size:23px; color:#fff;}
.wht17{font-size:17px; color:#fff;}
.gryD{color:#383838 !important;}
.gry11{font-size:11px; color:#383838;}
.gry15{font-size:15px; color:#323232;}
.offBlue15{color:#323232; font-size:15px; line-height:30px;}
.size30{font-size:30px;}
.green15{font-size:15px; color:#398f00;}
.blueColor{color:#0493cb !important;}
.blueColorLight{color:#ec008c !important;}
.blue11{color:#EC8A20 !important; font-size:11px;}
.blue20{color:#ec008c !important; font-size:20px;}
.navbar, .navbar-inner, .nav, .navbar-inverse{background:#FFF; top:0;}
.bluBtn{background:#EC8A20; font-size:11px; color:#FFF !important; font-weight:bold; padding:7px 20px; border:0; outline:0;}
.bluBtn2{background:#ec008c; border:1px solid #FFF; font-size:16px; color:#FFF !important; font-weight:bold; padding:7px 20px; display:inline-block;}

.headline h3, .headline h4{color:#fff; text-shadow:none; border-bottom:2px solid #363b41;}
.headline{border-bottom:1px dotted #363b41;}
.footer{background:#262b32;}
.copyright{background:#F6F6F6 url(../img/pixel.png) center center repeat-x; border-top:0 none; margin:30px 0; text-align:center;}
.copyright p a, .copyright p a:hover{color:#ec008c;}
.copyright p{color:#999999; margin:0;}
.gryBG{background:#f6f6f6; display:inline-block; padding:0 20px;}
.banrBg{background:url(../img/banner.jpg) top center repeat-x; padding:106px 0 0 0; min-height:370px;}
.ptop5{padding-top:5px;}
.p20{padding:20px;}
.pt20{padding:20px 0 0 0;}
.pt10{padding:10px 0 0 0;}
.pLR20{padding:0 20px;}
.p40{padding:40px;}
.pt40{padding-top:40px;}
.mbot10{margin-bottom:10px;}

.whtBGshd{box-shadow:0 0 20px #999999; background:#FFF; margin-top:-35px; z-index:10; position:relative;}
.whtBGshdInner{box-shadow:0 0 20px rgba(0, 0, 0, 0.1); background:#FFF; margin-top:70px; position:relative;}
.minusMar{margin-top:-53px;}
.pricRow{background:#f6f6f6; margin-top:5px; border-bottom:1px solid #efefef; border-top:1px solid #efefef; padding:25px; transition:all ease-in-out 200ms;}
.pricRow:hover{box-shadow:0 0 4px rgba(0, 0, 0, 0.3); border-bottom:1px solid #fff; border-top:1px solid #fff;}
.proc{background:#f6f6f6; margin-top:53px; border-bottom:1px solid #efefef; border-top:1px solid #efefef; padding:15px 25px; text-align:center; min-height:260px;}
.procFull{background:#f6f6f6; margin-top:53px; border-bottom:1px solid #efefef; border-top:1px solid #efefef; padding:50px 25px 25px 25px; text-align:center; min-height:260px; position:relative}
.absMe{position:absolute; top:-7px; left:0; width:100%; z-index:1; text-align:center;}
.fpHead{ display:inline-block; font-size:30px; color:#ec008c; padding:0 20px; margin-top:-80px; position:relative;
background: #ffffff;
background: -moz-linear-gradient(top,  #ffffff 0%, #f7f7f7 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f7f7f7));
background: -webkit-linear-gradient(top,  #ffffff 0%,#f7f7f7 100%);
background: -o-linear-gradient(top,  #ffffff 0%,#f7f7f7 100%);
background: -ms-linear-gradient(top,  #ffffff 0%,#f7f7f7 100%);
background: linear-gradient(to bottom,  #ffffff 0%,#f7f7f7 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f7f7f7',GradientType=0 );
}
.HeadInner{display:inline-block; font-size:30px; color:#ec008c; padding:10px 20px; margin-top:-80px; position:relative; background:#fff;}
.fpHead:before, .fpHead:after, .HeadInner:before,.HeadInner:after{content:"";position:absolute; z-index:-1; bottom:28px; left:0; width:10%; height:53%; max-width:300px;  -webkit-box-shadow:0 15px 10px rgba(0, 0, 0, 0.5); -moz-box-shadow:0 15px 10px rgba(0, 0, 0, 0.5);  box-shadow:0 15px 10px rgba(0, 0, 0, 0.5);}
.fpHead:after,.HeadInner:after{left:auto; right:0;}
.hdng{font-size:25px; background:url(../img/sep.png) center center no-repeat; line-height:47px; margin:15px 0; display:block; color:#666666}
.praG{font-family:Arial, Helvetica, sans-serif;color:#999999; font-size:12px;}
.testimonial{text-align:center;}
.testimonial>ul{list-style:none;}
.testimonial>ul>li{font-family:Georgia, "Times New Roman", Times, serif; font-size:23px; color:#606060; font-style:italic; width:100%;}
.testimonial>ul>li>span{font-size:13px; font-weight:bold;}
.testimonial>a{font-family:Georgia, "Times New Roman", Times, serif; font-size:12px; color:#ec008c;font-weight:bold;font-style:italic; text-decoration:underline;}
.testSep{background:url(../img/testi_sep.gif) bottom center no-repeat; padding-bottom:40px; margin-bottom:40px;}
.blueLink{font-size:12px; color:#ec008c;text-decoration:underline;}
.fphotoH{font-size:25px; padding:15px 0 10px 0;}
.carousel-control{background:url(../img/left.png) top left no-repeat; width:24px; height:44px;}
.carousel-control.right{background:url(../img/right.png) top left no-repeat;}

.topInner{padding:50px 20px 20px 20px;}
.textPad{padding:0 12px; margin-bottom:20px;}
.upload{background:url(../img/uploadBg.gif) bottom left repeat-x #f4f4f4; border-top:1px solid #efefef; padding:20px 20px 0 20px;}
.upTab{list-style:none; margin:0;}
.upTab>li{display:inline; margin:0;}
.upTab>li>a{padding:12px;border:1px solid #f4f4f4; border-bottom:0 none;display:inline-block;}
.upTab>li:hover>a{background:#ebebeb;}
.upTab>li.active>a{background:#FFF; border:1px solid #dddddd;border-bottom:0 none;  }
.tab-content{border:0; padding:20px;}
.btn-u-small {border:0;font-size:10px;cursor:pointer;padding:1px 10px;position:relative;background:#ec008c;display:inline-block;color:#fff !important;text-decoration:none !important;}
.btn-u-small:hover {color:#fff;background:#d1037d;text-decoration:none;-webkit-transition:all 0.4s ease-in-out;-moz-transition:all 0.4s ease-in-out;-o-transition:all 0.4s ease-in-out;transition:all 0.4s ease-in-out;
}
.greyBg{background:#f4f4f4;}
.greyBgDark{background:#f0f0f0;}
.whtBg{background:#fff;}
.inpF{border:1px solid #859ea6; color:#323232; background:#FFF; padding:2px; width:99%; font-size:11px; border-radius:0; margin-top:5px;}
.txtInp{padding:10px 0; color:#323232;}
.sepLine{background:url(../img/sep2.png) bottom left repeat-x; padding-bottom:10px; margin-bottom:10px;}
.sepLineMin{background:url(../img/sep2.png) bottom left repeat-x; padding-bottom:5px; margin-bottom:5px;}
.min20 [class*="span"]{min-height:20px;}
.sepLineTop{background:url(../img/sep2.png) top left repeat-x; padding-top:10px; margin-top:10px;}
.addMOpt{background:#FFF; border:1px solid #ec008c; padding:0 8px 0 3px; display:inline-block; font-size:11px; color:#ec008c; transition:all ease-in-out 100ms;}
.addMOpt>span{display:inline-block; border-right:1px solid #ec008c; padding:0px 5px 0px 2px; transition:all ease-in-out 100ms;}
.addMOpt:hover{background:#ec008c; color:#fff; text-decoration:none;}
.blueBtnEs{background:#ec008c; border:1px solid #ec008c; padding:0 15px; display:inline-block; font-size:11px; color:#fff; transition:all ease-in-out 100ms;}
.blueBtnEs:hover{background:#d1037d; text-decoration:none; color:#FFF;}
.redClose{font-size:11px; display:inline-block; color:#f05151; margin-bottom:10px;}
.copInp{border:1px solid #c3c3c3 !important; border-radius:0 !important; box-shadow:1px 1px 1px rgba(0,0,0,0.2) inset !important; background:#FFF !important; width:20px; text-align:center; padding:3px !important; margin:0 !important;}
.copInp2{border:1px solid #c3c3c3 !important; border-radius:0 !important; box-shadow:1px 1px 1px rgba(0,0,0,0.2) inset !important; background:#FFF !important; width:20px; text-align:center; padding:3px !important; margin:5px 0 0 0 !important;}
.priceBg{background:#323232; height:22x; line-height:22px; padding:3px 10px; color:#FFF; display:inline-block; font-weight:bold;vertical-align:-1px; min-width: 40px;}
.bdrBtm{border-bottom:1px solid #cdcdcd; padding-bottom:10px; margin-bottom:10px;}
.bdrBtmLight{border-bottom:1px solid #f0f0f0;}

.logC{width:250px; margin:0 auto;}
.greB{background:#f0f0f0; padding:10px; display:block; color:#ec008c; transition:all ease-in-out 300ms;}
.greB:hover{background:#ec008c;  color:#fff; text-decoration:none;}

.bluBb10{border-bottom:10px solid #ec008c; padding-bottom:7px;}
.greyBb10{border-bottom:10px solid #bfbfbf; padding-bottom:7px;}
.bluBb{border-bottom:1px solid #ec008c; width:70px; margin:0 auto 5px auto;}
.gryBb{border-bottom:1px solid #bfbfbf; width:70px; margin:0 auto 5px auto;}
.bluN1{background:url(../img/1-2-3-4.png) -28px 0 no-repeat; display:inline-block; height:40px; width:26px; overflow:hidden;}
.bluN2{background:url(../img/1-2-3-4.png) -28px -40px no-repeat; display:inline-block; height:40px; width:26px; overflow:hidden;}
.bluN3{background:url(../img/1-2-3-4.png) -28px -80px no-repeat; display:inline-block; height:40px; width:26px; overflow:hidden;}
.bluN4{background:url(../img/1-2-3-4.png) -28px -120px no-repeat; display:inline-block; height:40px; width:26px; overflow:hidden;}
.greyN1{background:url(../img/1-2-3-4.png) 0 0 no-repeat; display:inline-block; height:40px; width:26px; overflow:hidden;}
.greyN2{background:url(../img/1-2-3-4.png) 0 -40px no-repeat; display:inline-block; height:40px; width:26px; overflow:hidden;}
.greyN3{background:url(../img/1-2-3-4.png) 0 -80px no-repeat; display:inline-block; height:40px; width:26px; overflow:hidden;}
.greyN4{background:url(../img/1-2-3-4.png) 0 -120px no-repeat; display:inline-block; height:40px; width:26px; overflow:hidden;}

.radioFix{margin:0; vertical-align:-2px;}
.ffArial{font-family:Arial, Helvetica, sans-serif;}

.faQts{background:#f4f4f4; border-top:1px solid #dfdfdf; box-shadow:inset 0 -8px 6px -7px rgba(3,3,3,0.1); padding:15px 40px; font-family:Arial, Helvetica, sans-serif; font-size:15px; font-weight:bold; color:#323232; position:relative;}
.faArrow{position:absolute; bottom:-7px; left:60px;}
.faAns{padding:20px 40px 40px; font-family:Arial, Helvetica, sans-serif; line-height:1.8em;}

.blogRow{background:#f4f4f4;border-bottom:1px solid #efefef; border-top:1px solid #efefef; margin-bottom:10px;}
.bRhead{background:#f9f9f9;border-bottom:1px solid #efefef; padding:20px;box-shadow:inset 0 -8px 6px -7px rgba(3,3,3,0.1);}
.bRdate{background:#ec008c; color:#FFF; text-align:center;}
.bRdateNum{font-size:40px; font-weight:bold; display:block;margin-top:-10px;}
.bRdateMon{font-weight:bold; margin-top:-20px;display:block; padding-bottom:3px;}


.blogArchive{background:#f6f6f6; border-bottom:1px solid #efefef; border-top:1px solid #efefef; padding:10px 25px 25px;  min-height:260px;}
.blogArchive ul{list-style:none; padding:0; margin:0;}
.blogArchive>ul>li{font-size:15px; padding:15px 0 0 0;}
.blogArchive>ul>li>ul>li{font-size:13px; padding:0 0 5px 0;}
.blogArchive>ul>li>ul>li>a{color:#ec008c;}

/* Homepage Custome Slideshow */
#abslider{position:relative;}
#uploadTxt{position:relative; z-index:5; padding-top:108px;}
#abslider,#mountain,#maskWhite,#photoWall{width:100%; height:475px; background:#c0c0bf;}
#mountain,#maskWhite,#photoWall{position:absolute; top:0; left:0;display:none;}
#mountain{background:url(../img/HomeBanner/mountains.jpg) center top no-repeat; z-index:1; display:block;}
#maskWhite{background:url(../img/HomeBanner/frame.png) top center no-repeat; z-index:2;}
#photoWall{background:url(../img/HomeBanner/wall.jpg) top center no-repeat; z-index:3;}

#women{background:url(../img/HomeBanner/women.png) top center no-repeat; width:208px; height:375px; z-index:4;display:block; right:15%; bottom:0; position:absolute;}
/* Homepage Custome Slideshow */
@media(max-width:480px){
	#logo{padding-top:15px; width:40%;}
	#logo>img{width:80%;}
	.mobiF{display:block !important;}
	.navbar{padding:10px 0 0 0;}
	.navbar .nav{float:none;}
	.nav-collapse .nav > li > a, .nav-collapse .dropdown-menu a{padding:9px 10px; margin:0;}
	.navbar .nav > li > a{border:0 !important;}
	.collapse.in li a:hover, .collapse.in li a.dropdown-toggle{border:0 !important; color:#ec008c;}
	.shadow{margin:0 -20px; padding:0 20px;}
	.upTab>li>a{display:block;}
	.upTab>li>a>img{width:100%;}
	.greyBb10{display:none !important;}
	#fTesti{height:270px !important;}
	.testimonial>ul>li{font-size:16px; line-height:1.4em;}

}
